/*Reseteo General*/
*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
:root{
    --color_primario: #008C65 ;
    --color_boton_hover: #54b298 ;
    --color_secundario: #045F1B ;
    --color_secundario_cabezera: #e6efe8;
    --color_neutral_blanco: #fefefe ;
    --color_beutral_gris:#242424 ;
    --color_neutral_gris_300: #767676 ;
    --color_neutral_gris_input: #C0C0C0 ;
    --color_exito_fondo:#94F6A0;
    --color_exito_tipografia: #0A6314;
    --color_fracaso_fondo: #F08B8B;
    --color_frcaso_tipografia: #5D0101 ;
    --color_fondo_card:#E6F4F0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul, ol{
    list-style: none;
}

a{
    display:block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

p a{
    display: inline;
}

img, video, iframe, picture, figure{
    display:block;
    max-width: 100%;
}

form, input, select, textarea, button, label{
    display:block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
@keyframes uni {
    20%{
        background: url(../recursos/diario_visual/u.jpeg) center no-repeat;
        background-size: cover;
    }
    40%{
        background: url(../recursos/diario_visual/la\ u.jpeg) center no-repeat;
    background-size: cover;
    }
    60%{
        background: url(../recursos/diario_visual/dia.jpeg) center no-repeat;
        background-size: cover;
    }
    80%{
        background: url(../recursos/diario_visual/apuntes.jpeg) center no-repeat;
        background-size: cover;
    }
    100%{
        background: url(../recursos/diario_visual/hora.jpeg) center no-repeat;
        background-size: cover;
    }

}

body{
    font-family: "Lexend", sans-serif;
}
/*Cabezera*/
header{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}
.container-logo{
    width: 100%;
    height: 105px;
    background-color: var(--color_secundario_cabezera);
}
.container-logo img{
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}
header .container1{
    width: 100%;
    background-color: var(--color_primario);
    color: black;
    display: flex;
    justify-content: center;
}
.links{
    width: 100%;
    max-width: 1200px;
}
.links ul{ 
    display: flex;
    justify-content: space-between;
    
}
header nav ul li a {
        width: 100%;
        height: 49px;
        padding: 13px 23px;
        text-align: center;
        color: var(--color_neutral_blanco);
        background-color: var(--color_primario);
        transition: all 300ms ease-out;
}

header nav ul li a:hover {
    background-color: var(--color_boton_hover);
    color: var(--color_beutral_negro);
}
header .hamburguesa{
    display: none;
}
header .flecha{
    display: none;
}

@media screen and (max-width: 696px) {
    
    header .container-logo .hamburguesa{
        display: block;
        cursor: pointer;
        transition: all 300ms ease-out;
    }
    header .container-logo .hamburguesa:hover{
        color: var(--color_boton_hover);
    }
    header{
        padding: 0 16px;
        background-color: var(--color_secundario_cabezera);
    }
    .container-logo{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }
    /*colocarlo fijo*/
    .container1{
        display: flex;
        flex-flow: column wrap;
        z-index: 1000;
        position: fixed;
        align-items: center;
        background-color: var(--color_primario);
        height: 100vh;
        width: 100%;
        right: 0;
        top: 0;
        transition: all 300ms ease-out;
        transform: translateX(100%);
    }



    header .flecha{
        display: flex;
        width: 70px;
        height: 70px;
        color: var(--color_neutral_blanco);
        cursor: pointer;
    }
    header .flecha:hover{
        color: var(--color_boton_hover);
    }
    .links{
        flex-flow: column wrap;
    }
    .links ul{ 
        display: flex;
        flex-flow: column wrap;
        
    }
    .container1.active{
        transform: translateX(0%);
    }
}

/*Inicio*/
.inicio{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
    margin-bottom: 60px;

}
.cont-inicio1{
    width: 387px;
    height: 387px;
}
.cont-inicio1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.conta-inicio{
    width: 60%;
}
.conta-inicio p{
    font-size: 1rem;
    font-weight: 300;
}
.conta-inicio h1{
    margin-bottom: 10px;
}
.banner-inicio{
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 250px;
    background: url(../recursos/banner/banner5.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1146px) {
    .inicio{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 11px;
    }
    .conta-inicio{
        width: 90%;
    }
    .conta-inicio p{
        width: 100%;

    }
}

/*Formulario*/
.banner{
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 250px;
    background: url(https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    background: #242424d2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
    width: 100%;
    height: 100%;
}
.text h1{
    font-size: 2rem;
    font-weight: 500;
}
.text p{
    font-size: 1rem;
    font-weight: 300;
}
/*Formulario*/
.container-form{
    max-width: 1200px;
    height: 609px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 0px #24242425;
    margin-bottom: 50px;
    color: var(--color_neutral_blanco);
}
.container-form .formulario{
    background-color: var(--color_neutral_gris_300) ;
    width: 539px;
    padding: 13px 23px;
    border-radius: 9px;
}
.form-1{
    display: flex;
    flex-flow: row wrap;
    column-gap: 15px;
}
.info{
    margin-bottom: 23px;
}
.info label{
    margin-bottom: 13px;
}
.info input{
    width: 239px;
    height: 43px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: var(--color_beutral_gris);
    transition: all 0.3s ease-out;

    
}
.info input::placeholder{
    color: var(--color_neutral_gris_input);
}

.info2 label{
    margin-bottom: 13px;
}
.info2{
    width: 100%;
    margin-bottom: 23px;
}
.info2 input{
    width: 100%;
    height: 43px;
    padding: 10px;
    border-radius: 6px;
    color: var(--color_beutral_gris);
    border: 1px solid transparent;
}
.info-2 input::placeholder{
    color: var(--color_neutral_gris_input);
}

.info-mensaje{
    width: 100%;
    height: 204px;
    margin-bottom: 23px;
}
.info-mensaje label{
    margin-bottom: 13px;
}
.info-mensaje textarea{
    width: 100%;
    height: 163px;
    resize: none;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: var(--color_beutral_gris);
}
button{
    width: 103px;
    height: 49px;
    padding: 13px 23px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--color_neutral_blanco);
    background-color: var(--color_primario);
    transition: all 300ms ease-out;
}
button:hover{
    background-color: var(--color_boton_hover);
    color: var(--color_beutral_gris);
}
.info input:focus{
    outline: 3px solid var(--color_boton_hover);
}
.info-mensaje textarea:focus{
    outline: 3px solid var(--color_boton_hover);
}
/*alertas*/
.containerA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alertas-s{
    background-color: var(--color_exito_fondo);
    color: var(--color_exito_tipografia);
    display: flex;
    width: 60%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    padding: 11px;
    transition: all 0.3s ease-out;
}
.alertas-s h4{
    margin-right: 10px;
    font-weight: 500;
}
.alertas-f{
    background-color: var(--color_fracaso_fondo);
    color: var(--color_frcaso_tipografia);
    position: fixed;
    top: 0;
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 11px;
    transition: all 0.3s ease-out;
}
.alertas-f h4{
    margin-right: 10px;
    font-weight: 500;
}
.show{
    transform: translateY(50%);
}
.hide{
    transform: translateY(-100%);
}
/*Formualrio responsive*/
@media screen and (max-width: 552px) {
    .container-form{
        width: 100%;
        padding: 13px 16px;
        height: 679px;
        
    }
    .formulario{
        width: 85%;
        height: 609px;
        
    }
    .form-1{
        flex-direction: column;
    }
    .info input{
        width: 100%;
    }
    .alertas-f{
        width: 75%;
    }
    .alertas-s{
        width: 75%;
    }
}
/*footer*/
footer{
    margin-top: 25px;
    width: 100%;
    background-color: var(--color_primario);
    padding: 33px 16px; 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
footer h3{
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--color_neutral_blanco);
    margin-top: 6px;
}
footer .icon-container{
    color: var(--color_neutral_blanco);
    width: 349px;
    display: flex;
    justify-content: space-around;
    
}
.icon-container svg{
    border: 3px solid var(--color_neutral_blanco);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.icon-container svg:hover{
    color: var(--color_boton_hover);
    border: 3px solid var(--color_boton_hover);

}
/*menu responsive*/
@media screen and (max-width: 571px) {
    footer{
        margin-top: 50px;
        width: 100%;
        height: 252px;
    }
    .icon-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    footer h3{
        margin-top: 7px;
        text-align: center;
    }
    
}
/*biografia*/
.banner2{
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 250px;
    background: url(../recursos/banner/pexels-tomfisk-2606532.jpg) no-repeat center;
    background-size: cover;
    display: flex;
}
.bio{
    margin: 50px auto;
    width: 90%;
    height: 556px;
    padding: 11px 7px;
    display: flex;
    
}
.bio-imagen{
    width: 517px;
    height: 534px;
    margin-right: 36px;
}
.bio-text{
    width: 646px;
    overflow: hidden;
}
.bio-text h1{
    font-size: 33px;
    margin-bottom: 18px;
}
.bio-text p{
    font-weight: 300;
    font-size: 15px;
    
}
.bio-imagen img {
    width: 100%; 
    height: 100%; 
    display: block; 
    object-fit: cover;
}
/*Bio reponsive*/
@media screen and (max-width: 840px) {
    .bio{
        margin: 50px auto;
        width: 100%;
        padding: 11px 7px;
        display: flex;
        flex-direction: column;
        height: 85%;
        margin-bottom: 40px;

    }
    .bio-imagen{
        width: 100%;
        height: 534px;
    }
    .bio-imagen img{
        width: 100%; 
        height: 100%; 
        display: block; 
        object-fit: cover;
    }
    .bio-text{
        width: 100%;
        height: 100%;
    }
    .bio-text p{
        height: 100%;
    }
}

/*Idolos y referencias*/
.banner-i{
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 250px;
    background: url(../recursos/banner/banner5.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.idolos{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.layaout{
    width: 100%;
    height:100% ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 30px;
}
.layaout__article{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
} 
.article__img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}
.article__overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color_primario);
    margin-top: 0;
    padding: 33px;
    color: white;

    transform:  translateX(-40rem);
    transition: all 0.3s ease-in-out;
}
.article__title{
    margin-top: 15px;
}
.article__description{
    margin-top: 25px;
    font-weight: 200;

}
.layaout__article--2 > .article__overlay{
    background-color: var(--color_secundario);
    height: 50%;

    position: relative;
    transform:  translateY(415px);

}
.layaout__article--3 > .article__overlay{
    background-color: var(--color_boton_hover);
    position: relative;
    transform:  translateY(40rem);
}
/*efecto*/
.layaout__article:hover > .article__overlay{
    transform: translateX(0);
}
.layaout__article--2:hover > .article__overlay{
    transform:  translateY(200px);
}
.layaout__article--2:hover>.article__img{
    transform: translateY(-200px);
}
.layaout__article--3:hover > .article__overlay{
    transform: translateY(0);
}   

/*servicios*/
.banner-s{
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 250px;
    background: url(../recursos/banner/banner\ 6.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.contanier-cards{
    margin: 35px auto;
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    gap: 45px ;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}
.card{
    width: 282px;
    display: flex;
    flex-direction: column;
    background-color: var(--color_fondo_card);
    justify-content: center;
    align-items: center;
    padding: 13px 16px;
    box-shadow: 1px 3px 5px var(--color_neutral_gris_300);
}
.card .icono{
    width: 134px;
    height: 134px;
    background-color: var(--color_beutral_gris);
    border-radius: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icono svg{
    width: 85px;
    height: 85px;
    color: var(--color_primario);
}
.text-c{
    margin-top: 9px;
    margin-bottom: 9px;
    text-align: center;
}
.text-c h3{
    margin-bottom: 9px;
}
.text-c p{
    font-weight: 300;
    font-size: 15px;
}
.c-b{
    margin: auto;
}
.btn1{
    width: 100%;
    height: 49px;
    padding: 13px 23px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--color_neutral_blanco);
    background-color: var(--color_primario);
    transition: all 300ms ease-out;
}
.btn1:hover{
    background-color: var(--color_boton_hover);
    color: var(--color_beutral_gris);
}
/*diario visual*/
.banner-ds{
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 250px;
    background: url(../recursos/banner/banner-7.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.diario{
    width: 65%;
    display: flex;
    margin: 45px auto;
    flex-direction: column;

}
.u{
    width: 100%;
}
.u h3{
    margin-bottom: 30px;
   text-align: center;  
}
.sec{
    width: 100%;
    display: flex;
    
}
.cont-di{
    width: 340px;
    height: 309px;
    background: url(../recursos/diario_visual/viaje.jpeg) center no-repeat;
    background-size: cover;
    animation: uni 10s 0.3s 3 normal forwards paused;
}
.cont-di:hover{
    animation-play-state: running;
}
.sec p{
    margin-left: 77px;
    width: 520px;
}
.sec1 p{
    width: 520px;
    margin-right: 77px;
    margin-left: 0px;
}
.di2{
    background: url(../recursos/diario_visual/proceso.jpeg) center no-repeat;
    background-size: cover;
}
.di4{
    background: url(../recursos/diario_visual/comida.jpeg) center no-repeat;
    background-size: cover;
}
@media screen and (max-width: 970px) {
    .sec{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .sec p{
        margin-left: 0;
    }
    .cont-di{
        margin-bottom: 55px;
    }
    .sec1 p{
        margin-right: 0;
        margin-bottom: 55px;
    }
}