*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color:rgb(168, 230, 207);
    font-family: "Inter",quicksand;
    display: block;

    
}
header{
    background-color: rgb(128, 199, 131);
    padding: 30px;
    border-bottom: 3px solid rgb(164, 183, 123);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    
    text-decoration: none;
    color: black;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav ul li {
    margin-right: 10px; 
}
h2{
    background-color: rgb(128, 199, 131);
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

